.container{
    border: 2px solid black;
}
.word{
    background-color: black;
    color: white;
    text-align: center;
}
.row{
    border: 5px solid red;
}
.col{
    border: 4px solid greenyellow;
}